<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <title>Lab Tech</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description"/>
    <meta content="" name="acens"/>

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <!-- <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/> <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <!-- <link href="css/animate.css" rel="stylesheet"> <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/> -->

    <!-- THEME STYLES -->
    <!-- <link href="css/layout.min.css" rel="stylesheet" type="text/css"/> -->

    <!-- Favicon -->
    <%= favicon_link_tag 'logo.ico', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'logo.ico', :rel => 'shortcut icon' %>
    <meta content="" name="description"/>
    <meta content="" name="acens"/>

  </head>

  <body>
    <!-- <div class="labtech-loader"></div> -->
    <!-- Display loading image while page loads -->
    <!-- <div class="page-loader"></div> -->
    <!--========== NAV ==========-->
    <%= render 'layouts/navbar'%>
    <!--========== END NAV ==========-->

    <%= yield %>
    <script type="text/javascript">
      $(window).on('load', function () {
        // Animate loader off screen
        $(".labtech-loader").fadeOut(1000);
      });
    </script>
    <%= render partial: "layouts/notify" %>
  </body>

</html>
